@import "tailwindcss";

:root,:host{
height: 100%;
background: white;
--color-primary: #4fbf8b;
--color-primary-dull: #44ae7c;
--color-grey-700: #364153 ;
--color-text-primary:#4fbf8b;
}



body {
  height: 100vh;
  background: white;
  font-family: var(--font-Outfit-sans);
  
}

@layer components{
  .bg-primary {
    background-color: var(--color-primary);
}
  .text-primary {
    color: var(--color-text-primary);
}
.bg-primary-dull:hover {
    background-color: var(--color-primary-dull);
}
.text-grey700 {
    color: var(--color-grey-700);
}
}


